{% extends 'partials/base.html' %}
{% load static %}
{% block content %}

        <main class="main about">
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'app-home' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Connexion</li>
                    </ol>
                </div><!-- End .container -->
            </nav>

            <div class="container">
                <div class="page-header pt-3 bg-transparent">
                    <div class="container text-left">
                        <h2 class="font4 text-uppercase text-center">Bienvenue chez Informatic Guinée</h2>
                    </div><!-- End .container -->
                </div><!-- End .page-header -->

                <div class="container">
                    <h2 class="page-intro font-weight-normal title">Connexion</h2>
                    <div class="row row-bg">
                        <div class="col-md-6">
                            
								<div class="heading mb-1">
									<h6 class="page-intro font-weight-normal">Vous n'avez pas de compte ?&nbsp;<a href="{% url 'userauths-register' %}"><u>Inscrivez-vous</u></a></h6>
								</div>

								<form method="POST">
                                    {% csrf_token %}
									<label for="register-email">
										Adresse e-mail
										<span class="required">*</span>
									</label>
									<input type="email" name="email" class="form-input form-wide" id="register-email" placeholder="E-mail" required />

									<label for="register-password">
										Mot de passe
										<span class="required">*</span>
									</label>
									<input type="password" name="password" class="form-input form-wide" id="register-password" placeholder="Mot de passe"
										required />

									<div class="form-footer mb-2">
										<button type="submit" class="btn btn-dark btn-md w-100 mr-0">
											Se connecter
										</button>
									</div>
								</form>
                        </div><!-- End .col-md-6 -->

                        <div class="col-md-6">
                            <div class="">
                                <img src="{% static 'assets/images/demoes/demo3/auth/banner-image.png' %}" alt="">
                            </div>

                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->


                <div class="mb-3"></div><!-- margin -->
            </div>
        </main><!-- End .main -->

{% endblock content %}